@import '../../core/styles/variables';

.card {
  background-color: $clr-third;
  @include grid(100%, auto);
  gap: $gap;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $padding-xl $padding;
  img {
    max-width: 50%;
    margin: auto;
  }
  &__info {
    @include grid(100%, auto);
    gap: $gap;
    &--text {
      align-self: center;
    }
  }
  &__more {
    display: none;
  }
  .flex-container {
    @include flex(row, center, center);
    gap: $gap;
    img {
      max-width: 30%;
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    &__info {
      height: calc($base * 15);
      overflow: hidden;
      @include grid(100%, auto);
    }
    &__info.open {
      height: unset;
    }
    &__more {
      display: block;
      @include smallFont;
      font-style: italic;
      text-align: end;
    }
    .flex-container {
      flex-direction: column;
      button {
        font-size: $font-small;
      }
      img {
        max-width: 80%;
      }
    }
  }

  .card:not(.hero) img {
    max-width: 80%;
  }
}
