@import "../../core/styles/variables";

.landing {
  .card.hero {
    .hero__links {
      gap: calc($gap*.25)
    }
  }
  .flex-container {
    @include flex(row, center, center);
    gap: $gap;
    img {
      max-width: 30%
    }
  }
  .news {
    @include grid(repeat(2, 1fr), auto);
    &__span {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 800px) {
  .landing 
  {.news {
    @include grid(100%, auto);  
    &__span {
      grid-column: auto;
    }  
    }
    .flex-container {
      flex-direction: column;
      button {
        font-size: $font-small;
      }
    }}
  }