@import '../../core/styles/variables';

header {
  background-color: $clr-third;
  .header {
    @include flex(row, space-between, center);
    padding: $padding;
    max-width: 62.5rem;
    margin: auto;
    height: 6rem;
    position: relative;
    z-index: 5;
    &__navigation {
      &--desktop {
        @include flex(row, space-between, center);
        width: 70%;
        background-color: $clr-third;
        gap: $gap;
        margin-inline-end: $margin;
      }
      &--mobile {
        div {
          @include flex(column, center, flex-start);
          gap: $gap;
          position: fixed;
          top: 5rem;
          left: 0;
          padding: $padding;
          background-color: $clr-third;
          overflow: hidden;
          width: calc($base * 12.5);
        }
        button {
          border: none;
          color: $clr-primary;
          font-family: $fontFamily;
          font-size: $font-p;
          background-color: transparent;
        }
        .closebtn {
          position: absolute;
          right: calc($base * 0.5);
          font-size: $font-h2;
          top: calc($base * 0.5);
        }
        .openbtn {
          display: flex;
          min-width: min-content;
        }
      }
    }
    img {
      width: 12.5rem;
    }
  }
}
