@import "../../core/styles/variables";

.card-secondary {
  @include grid(repeat(2, 1fr), auto);
  &__links {
    @include grid(100%, auto);
    gap: $gap;
    align-content: center;
    justify-items: center;
    a {
      @include aFont;
      font-size: $font-p;
      font-weight: 600;
    }
  }
}