@import '../../core/styles/variables';

footer {
  background-color: $clr-third;
  .footer {
    padding: $padding;
    &__content {
      @include flex(row, space-between, center);
      max-width: 62.5rem;
      margin: auto;
      gap: $gap;
      padding: $padding;
      .logo--large {
        max-width: 13rem;
        margin: auto;
      }
    }
    &__copyright * {
      font-size: $font-small;
      font-style: italic;
      text-transform: none;
      line-height: normal;
    }
  }
}

.contact {
  text-align: left;
  padding-left: 3rem;
  &--links {
    min-width: 20rem;
    @include grid(100%, auto);
    padding-block: $padding;
    gap: $gap;
  }
}

@media screen and (max-width: 800px) {
  footer .footer {
    &__content {
      padding: $padding-s;
      flex-direction: column;
      .contact {
        width: 100%;
        &--links {
          min-width: 100%;
          a {
            font-size: $font-small;
          }
        }
      }
    }
  }
}
