@import '../../core/styles/variables';

footer {
  background-color: $clr-third;
  .footer {
    padding: $padding;
    &__content {
      @include flex(row, space-between, center);
      max-width: 62.5rem;
      margin: auto;
      gap: $gap;
      padding: $padding;
    }
    &__copyright * {
      font-size: $font-small;
      font-style: italic;
      text-transform: none;
      line-height: normal;
    }
  }
}

.contact {
  text-align: left;
  &--links {
    min-width: 20rem;
    @include grid(100%, auto);
    padding-block: $padding;
    gap: $gap;
  }
}

@media screen and (max-width: 800px) {
  footer .footer {
    &__content {
      flex-direction: column;
    }
  }
}
