@import '../../core/styles/variables';

.primary {
  @include pFont;
  background-color: $clr-primary;
  color: $clr-third;
  text-transform: uppercase;
  font-weight: 600;
  padding: $padding-m $padding-xl;
  border-radius: calc($border-radius * 3);
  box-shadow: $box-shadow;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

.secondary {
  @include pFont;
  background-color: $clr-secondary;
  color: $clr-primary;
  font-weight: 600;
  padding: $padding-m $padding-xl;
  border-radius: calc($border-radius * 3);
  box-shadow: $box-shadow;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 800px) {
  .primary,
  .secondary {
    font-size: $font-small;
  }
}
