@import "../../core/styles/variables";

.card.hero {
  @include grid(repeat(2, 1fr), auto);
  .hero__links {
    @include grid(100%, auto);
    gap: $gap;
    align-content: center;
    justify-items: center;
    a {
      @include aFont;
      font-size: $font-p;
      font-weight: 600;
      cursor: pointer;
    }
    a:hover {
      font-weight: 700;
    }
}
}

@media screen and (max-width: 800px) {
  .card.hero {
  @include grid(100%, auto);
  }
}