@import './variables';

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//General
body {
  min-height: 100vh;
  text-align: center;
  background-color: $clr-secondary;
  color: $clr-primary;
  font-family: $fontFamily;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: $margin auto;
  @include grid(100%, auto);
  gap: $gap;
}

.grid {
  @include grid(100%, auto);
  gap: $gap;
}

.grid-container {
  @include grid(repeat(2, 1fr), auto);
  gap: $gap;
}

a {
  color: $clr-primary;
  @include aFont;
}

a:hover {
  transform: scale(1.05);
  font-weight: 800;
}

h1 {
  @include h1Font;
}

h2 {
  @include h2Font;
}

h3 {
  @include h3Font;
}

p {
  @include pFont;
}

img {
  max-width: 100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
