@import '../../core/styles/variables';

.admin__cards-container {
  @include grid(100%, auto);

  gap: $gap * 3;
  .category-container {
    @include grid(100%, auto);
    gap: $gap;
  }
  .cards-container {
    @include grid(100%, auto);
    gap: $gap;
    h4 {
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
    }
    .svg-inline--fa {
      font-size: larger;
      padding: $padding-s;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.admin__card {
  border-bottom: 1px solid $clr-primary;
  @include flex(row, space-between, center);
  position: relative;
  h4 {
    text-align: start;
  }
  &--more {
    border: 3px solid $clr-primary;
    position: fixed;
    max-height: 90vh;
    overflow: auto;
    top: 5%;
    left: 20%;
    right: 20%;
    padding-inline: 10%;
    z-index: 10;
    .close-btn {
      position: absolute;
      right: $base;
      top: $base;
      border: none;
      @include h1Font;
      background-color: transparent;
      &:hover {
        transform: scale(1.1);
      }
    }
    input:not([type='submit']),
    select,
    textarea {
      font-family: $fontFamily;
      font-size: $base * 0.9;
      padding: $padding-s;
      height: $base * 2.5;
      width: 100%;
      border: none;
    }
    input.order-input {
      width: 3rem;
    }

    .text {
      height: 90%;
      textarea {
        height: 100%;
      }
    }
    .container {
      @include grid(repeat(2, 1fr), auto);

      gap: $gap * 2;
      &__card {
        position: relative;
        @include flex(column, space-between, center);
        border: 1px solid $clr-secondary;
        padding: $padding;
        min-height: 20rem;
        gap: $gap;
        .close-btn {
          color: $clr-third;
          font-size: $base;
          top: 1.5rem;
          right: 1.5rem;
        }
        > img {
          max-width: 100%;
          margin-block: 0;
        }
        &--change {
          background-color: white;
          text-align: left;
          small {
            padding-inline: $padding-s;
          }
        }
      }
    }
  }

  &--more.preview {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .admin__card--more {
    border-width: 1px;
    padding-inline: 5%;
    border: none;
    box-shadow: 5px 5px 15px $clr-primary;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    .container {
      @include grid(100%, auto);
    }
    .text {
      height: 10rem;
      textarea {
        height: 80%;
      }
    }
  }
  .admin__card--more.preview {
    width: 100%;
  }
}
